{#=====================================================
  User Registration page
  - Form for adding a new user
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - New User

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>New practice time</h2>
        </header>

        <form action="/add-practice" method="POST">

            <input
                type="text"
                name="day"
                placeholder="what day of the week"
                required
            >

            <input
                type="int"
                name="time"
                placeholder="what time"
                required
            >

            <input
                type="boolean"
                name="permanent"
                required
            >

            <button>Add practice time</button>

        </form>

        <footer>
        </footer>

    </article>

{% endblock %}

