{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

  {%if session.user_id %}
    <h1> welcome {%session.user_id%}</h1>

    your classes

      {%for class in classes %}
          <li>
            <a href="/class/{{ class.id }}">
            {{class.name}}
            </a>
          </li>



      {%if session.admin%}
         <a href ="/add_class_form">add a class?</a>
      {% endif %}


{% endblock %}

