{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    {%if session.user_id %}
    welcome session.user_id
    {%else %}
    welcome to my website, please login or register to continue 

    {% endif %}


    
{% endblock %}


