{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    {%if session.user_id %}
    <h1> welcome {%session.user_id%}</h1>

    your classes

      {%for class in classes %}
          <li>
            <a href="/class/{{ class.id }}">
            {{class.name}}
            </a>
          </li>



      {%if session.admin%}
         <a href ="/add_class_form">add a class?</a>
      {% endif %}

    
    {%else %}
    welcome to my website, please login or register to continue 

    {% endif %}


    
{% endblock %}


