{#=====================================================
  Things page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}

    <h1>Practice times</h1>


    <article>

        <ul>

        </ul>

    </article>


    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Add a New Thing...</h3>

            <form action="/add_song" method="POST">

                <input
                    type="text"
                    name="day"
                    placeholder="which day of the week"
                    required
                >

                <input
                    type="interger"
                    name="time"
                    min="0"
                    placeholder="Price in dollars"
                    required
                >

                <input
                    type="checkbox"
                    name="permanent?"
                    required
                >

                <button>Add the Thing</button>

            </form>

        </article>

    {% endif %}

{% endblock %}

